body {  font-family: 'Lato',sans-serif;}
hr {border-color: transparent;}
.branded p, .brandedEcommerce p {font-size: 16px;}
.branded ul, .brandedEcommerce ul {
    font-size: 16px;
    list-style-image: url('../css/images/bullet.png');
    padding-left: 30px;
}
.brandedEcommerce h2 {font-size: 24px;}
.branded {border: 1px solid #d6d6d6; padding-left: 25px; padding-right: 25px; margin-top: 25px;background: #fff url('../css/images/fadedCircle.png') 185% no-repeat;}
.branded .btn {color: #fff !important; padding-top: 20px; padding-bottom: 15px; font-size: 18px; border: none;}
.branded .col-sm-3 .btn {margin-top: 5px;}
.splash li a {width: 100%; display: block;}
.green, .green:hover {background-color: #4d9c2d;}
.dkgreen, .dkgreen:hover {background-color: #008374;}
.blue, .blue:hover {background-color: #0083C1;}
.dkblue, .dkblue:hover {background-color: #415968;padding: 6px 25px !important;}
.ltred, .ltred:hover {background-color: #cd998d;}
.dkred, .dkred:hover {background-color: #D73F22;padding: 6px 12px !important;font-size: 14px !important;}
.dkrred, .dkrred:hover {background-color: #932A47;padding: 6px 12px !important;font-size: 14px !important;}


.brandedEcommerce  {border: 1px solid #d6d6d6; padding-left: 25px; padding-right: 25px; margin-top: 25px;background: #D9EDF7 url('../css/images/fadedBlue.png') 185% repeat-y;}
.brandedEcommerce .alert-info {background-color:#0083C1;color: #fff;}
@media (max-width: 618px) {
    .branded {background: #fff url('../css/images/fadedCircle.png') right -550px top no-repeat;}
    .brandedEcommerce {background: #D9EDF7 url('../css/images/fadedBlue.png') right -350px top no-repeat; }
}
@media (min-width: 618px) and (max-width: 768px) {
    .branded {background: #fff url('../css/images/fadedCircle.png') right -350px top no-repeat;}
    .brandedEcommerce {background: #D9EDF7 url('../css/images/fadedBlue.png') right -350px top no-repeat; }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .branded {background: #fff url('../css/images/fadedCircle.png') right -400px top no-repeat;max-width: 940px; margin-left: auto; margin-right: auto;}
    .brandedEcommerce {max-width: 940px; margin-left: auto; margin-right: auto; background: #D9EDF7 url('../css/images/fadedBlue.png') right -350px top no-repeat;}
}

@media (min-width: 1200px) {
    .branded {max-width: 1140px; margin-left: auto; margin-right: auto; }
    .brandedEcommerce {max-width: 1140px; margin-left: auto; margin-right: auto; }
}