body {  font-family: 'Lato',sans-serif;}
hr {border-color: transparent;}
p.links a {
    margin: 0 5px;
}
.brand p {font-size: 16px;}
.brand-ecommerce ul:not(.links) {
    font-size: 16px;
    list-style-image: url('../css/images/bulletGreen.png');
    padding-left: 30px;
}

.brand-branding ul:not(.links) {
    font-size: 16px;
    list-style-image: url('../css/images/bulletRed.png');
    padding-left: 30px;
}

.brand-fulfillment ul:not(.links) {
    font-size: 16px;
    list-style-image: url('../css/images/bulletDkgreen.png');
    padding-left: 30px;
}

.brand-print ul:not(.links) {
    font-size: 16px;
    list-style-image: url('../css/images/bullet.png');
    padding-left: 30px;
}

.brand {
    border: 1px solid #d6d6d6; padding-left: 25px; padding-right: 25px; margin-top: 25px;background-color:#fff;
}

.brand ul {margin-bottom: 25px;}
.brand-social-media .row div {padding: 25px 0;}
.brand .row ul li a {padding: 6px 5px; min-width:100px; font-size: 14px;}
.brand .links {margin: 0 0 15px;}
.brand .links li {width: 20%; display: inline; float: left;padding: 0 2px;}

.brand-ecommerce h2 {font-size: 24px;}
.brand-login {background: #fff url('../css/images/fadedCircle.png') 185% no-repeat;}
.brand .btn {color: #fff !important; padding-top: 20px; padding-bottom: 15px; font-size: 18px; border: none;}
.brand .col-sm-3 .btn {margin-top: 5px;}
.splash li a {width: 100%; display: block; padding-top: 20px; padding-bottom: 15px;}
.green, .green:hover {background-color: #4D9C2D;}
.dkgreen, .dkgreen:hover {background-color: #008374;}
.blue, .blue:hover {background-color: #0083C1;}
.dkblue, .dkblue:hover {background-color: #002A48;}
.ltred, .ltred:hover {background-color: #EB6851;}
.dkred, .dkred:hover {background-color: #CB3524;}
.burg1, .burg1:hover  {background-color:#8A1D61;}
.burg2, .burg2:hover {background-color: #932A47;}
.burg3, .burg3:hover    {background-color: #CD998D;}
.gray1, .gray1:hover  {background-color:#8E8F90;}
.login1, .login1:hover {background-color:#415968;}


.brand-give-back {background: #ebc5d9 url('../css/images/giveBackbgl.png');}

.brand-ecommerce  {border: 1px solid #d6d6d6; padding-left: 25px; padding-right: 25px; margin-top: 25px;background: #fff url('../css/images/ecommerceCircle.png') 185% top no-repeat;}
.brand-ecommerce .alert-info {background-color:#0083C1;color: #fff; border-color: transparent;opacity: .75;}

.brand-branding  {border: 1px solid #d6d6d6; padding-left: 25px; padding-right: 25px; margin-top: 25px;background: #fff url('../css/images/brandingCircle.png') 175% top no-repeat;}
.brand-branding .alert-info {background-color:#4D9C2D;color: #fff; border-color: transparent;opacity: .75;}

.brand-print  {border: 1px solid #d6d6d6; padding-left: 25px; padding-right: 25px; margin-top: 25px;background: #fff url('../css/images/printCircle.png') 185% top repeat-y;}
.brand-print .alert-info {background-color:#EB6851;color: #fff; border-color: transparent; opacity: .75;}

.brand-fulfillment  {border: 1px solid #d6d6d6; padding-left: 25px; padding-right: 25px; margin-top: 25px;background: #fff url('../css/images/fulfillmentCircle.png') 175% top repeat-y;}
.brand-fulfillment .alert-info {background-color:#008374;color: #fff; border-color: transparent;opacity: .75;}

.brand-contact  {border: 1px solid #d6d6d6; padding-left: 25px; padding-right: 25px; margin-top: 25px;background-color:#fff;}
.brand-contact .alert-info {background-color:#0083C1;color: #fff; border-color: transparent;}


 /*fadeIn splash */
.splashMe {
    animation-duration: 4s;
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-delay: 4s;
    -moz-animation-delay: 4s;
    -webkit-animation-delay: 4s;
    animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

.fadeInLinks {
    animation-delay: 4s;
    -moz-animation-delay: 4s;
    -webkit-animation-delay: 4s;
}


/* splash colors */
.blue1 {color:#002A48;}
.blue2 {color:#0083C1;}
.green1 {color:#008374;}
.green2 {color:#4D9C2D;}
.yellow1 {color:#CEDB00;}
.red1 {color:#F1B8A8;}
.red2 {color:#D73F22;}
.red3 {color:#CB3524;}
.red4 {color:#EB6851;}
.red5 {color:#932A47;}

@media (max-width: 618px) {
    .brand-login {background: #fff url('../css/images/fadedCircle.png') right -550px top no-repeat;}
    .splashMe .animated.rotateIn {margin: 0 auto !important;}
    .splashMe .bisplashlogo {margin: 35px auto 0 auto !important;}
    .brand .links li {width: 100% !important; display: block; float: none;margin-top: 5px;margin-bottom: 5px; }
    .brand .links li a {  padding-bottom: 15px !important; padding-top: 20px !important;}
    .brand .row .col-sm-6 li { margin: 10px;}
}
@media (min-width: 618px) and (max-width: 768px) {
    .brand-login {background: #fff url('../css/images/fadedCircle.png') right -350px top no-repeat;}
    .splashMe .animated.rotateIn {margin: 0 auto !important;}
    .splashMe .bisplashlogo {margin: 35px auto 0 auto !important;}
    .brand .row .col-sm-6 li {margin: 10px;}
}

@media (min-width: 768px) and (max-width: 1200px) {
    .brand-login {background: #fff url('../css/images/fadedCircle.png') right -400px top no-repeat;max-width: 940px; margin-left: auto; margin-right: auto;}
    .brand .row .col-sm-6.text-left li:first-child {margin-right: 50px;}
    .brand .row .col-sm-6.text-right li:last-child {margin-left: 50px;}
    .brand {max-width: 940px;}
}

@media (min-width: 1200px) {
    .brand {max-width: 1140px; margin-left: auto; margin-right: auto; }
    .brand .row .col-sm-6.text-left li:first-child {margin-right: 50px;}
    .brand .row .col-sm-6.text-right li:last-child {margin-left: 50px;}
    .brand {max-width: 1140px;}
}

.jumbotron h2 img {
    max-height: 150px;
}
