<section class="jumbotron" ng-class="{'active': isActive('catalog')}" ng-show="user.Company.LogoUrl" style="padding: 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="thumbnail" ng-show="Four51User.isAuthenticated()">
                    <a ng-click="refreshUser()" href="catalog"><img ng-src="{{user.Company.LogoUrl}}" /></a>
                </h2>
            </div>
            <div class="col-sm-8 col-sm-offset-1 text-left">
                <div class="callout callout-info" style="margin: 0;">
                    <p style="font-size: 1em;">
                        Brilliant Impressions has partnered with AIA corporation, a top 15 promotional products distributorship. Brilliant Impressions provides clients with exceptional local service with unmatched creativity and industry knowledge. With this partnership, Brilliant Impressions is poised to leverage AIA's vast resources to deliver more comprehensive services to their clients through a multi-faceted approach.
                    </p>
                    <p>
                        <a target="_blank" href="http://www.brilliantimpressions.com"> View Promotional Products <i class="fa fa-chevron-right"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
