<section>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="text-center">About Us</h1>
                    <p>We are a full service advertising specialties company offering a wide range of promotional items to promote your company. We help you find a cost effective way to market and promote your business with custom promotional items that speak to your customers and clients. With the number of companies we work with the possibilities are only limited by your imagination.</p>
                </div>
                <div class="col-md-8">
                    <h1 class="text-center">Contact Information</h1>
                    <div class="well" style="padding-top:0;">
                        <h3 class="text-info text-center">Brilliant Impressions</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Office Information:</h4>
                                <p>
                                    Brilliant Impressions<br/>
                                    3525 NW 56th St, Ste B-125<br/>
                                    OKC, OK 73112<br/>
                                    US
                                </p>
                                <p><b>Phone:</b> 405.605.5615</p>
                            </div>
                            <div class="col-sm-6">
                                <h4>Staff:</h4>
                                Melissa Edenfield<br/>
                                Sales & Business Development<br/><br/>
                                Sonny Callazzo<br/>
                                Sales Executive<br/><br/>
                                Denise Swafford<br/>
                                Sales Executive<br/><br/>
                                Dawn Lemons<br/>
                                Operations Director<br/><br/>
                                Joe Von Feldt<br/>
                                Creative Services Supervisor<br/><br/>
                                Jon Hicks<br/>
                                Customer Service Rep<br/><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>