//
// Custom variables ** Bootstrap
// --------------------------------------------------


//== Colors
@brand-primary: #2b4f60;
@brand-danger: #aa291e;
@brand-info: #39938d;
@brand-success: #4d9236;
@brand-warning: #b16e1b;
@state-success-bg:desaturate(@brand-success,20);
@state-success-border:@brand-success;
@state-info-bg:desaturate(@brand-info,20);
@state-info-border:@brand-info;
@state-warning-bg:desaturate(@brand-warning,20);
@state-warning-border:@brand-warning;
@state-danger-bg:desaturate(@brand-danger,20);
@state-danger-border:@brand-danger;
//== Scaffolding
@body-bg: #252525;

//== Typography
@text-color:#fff;
@link-color: #9cccff;
//== Components

//== Tables

//== Buttons
@btn-default-color:#fff;
@btn-default-border:darken(@btn-default-bg, 10);
@btn-default-bg:@panel-default-heading-bg;

@pagination-bg:@btn-default-bg;
@pagination-border:@btn-default-border;
@pagination-color:@btn-default-color;

@pagination-disabled-bg:desaturate(@pagination-bg,15);
@pagination-disabled-border:desaturate(@pagination-border,15);
@pagination-disabled-color:desaturate(@pagination-color,15);
//== Forms
@input-bg:#222;
@input-bg-disabled:lighten(@input-bg, 10);
@input-color:#fff;
@input-border:darken(@input-bg, 10);
//== Dropdowns
@dropdown-link-hover-bg:@navbar-default-link-active-bg;
@dropdown-bg:@body-bg;
@dropdown-border:transparent;
@dropdown-link-color:#fff;
@dropdown-divider-bg:@hr-border;
//== Media queries breakpoints

//== Grid system

//== Container sizes
@container-desktop:((940px + @grid-gutter-width));
@container-tablet:((720px + @grid-gutter-width));
@container-large-desktop:((1140px + @grid-gutter-width));
//== Navbar
@navbar-default-bg: #151515;
@navbar-default-link-color:         #fff;
@navbar-default-link-hover-color:   #fff;
@navbar-default-link-active-color:  #fff;
//== Navs

//== Pills

//== Pagination

//== Pager

//== Jumbotron
@jumbotron-bg: #000;
//== Form states and alerts

//== Tooltips

//== Popovers

//== Labels

//== Modals

//== Alerts

//== Progress bars

//== List group

//== Panels
@panel-bg:#333;
@panel-footer-bg:lighten(@panel-bg,5);
@panel-footer-border:@panel-default-border;
@panel-default-text:#fff;
@panel-default-border:darken(@panel-bg,10);
@panel-default-heading-bg:#222;
@panel-primary-heading-bg:#444;
@panel-primary-text:#fff;
@panel-primary-border:darken(@panel-bg,10);
@panel-primary-heading-bg:#222;
//== Thumbnails

//== Wells

//== Badges

//== Breadcrumbs

//== Carousel

//== Close

//== Code

//== Type

//== Miscellaneous


//
// Custom variables ** 451
// --------------------------------------------------


//== 451
//** @fourfiveone-login-bg
@fourfiveone-thumbnail-height:150px;
//** @fourfiveone-product-image-height
//** @fourfiveone-category-image-height
//** @fourfiveone-gray-medium
//** @fourfiveone-border-color
//** @fourfiveone-form-icon-color